Grupo 5: Manejo de Archivos y Estructuras de Datos Avanzadas
* Manejo de archivos: Apertura, lectura, escritura y cierre de archivos.
* Diccionarios: Creación, acceso y manipulación de pares clave-valor.
* Conjuntos: Operaciones básicas con sets.
* Manejo de excepciones: Try, except, else, finally.

# Crear archivos (CSV), lectura y escritura

In [ ]:
import csv

:

In [ ]:
# Datos que queremos escribir en el archivo CSV
datos = [
    ['Nombre', 'Edad', 'Ciudad'],
    ['Angel', 48, 'Madrid'],
    ['Esther', 30, 'Cádiz'],
    ['Luis', 33, 'Caracas'],
    ['Weixin', 36, 'Madrid'],
]

# Crear y escribir en un archivo CSV
with open('datos.csv', 'w', newline='') as archivo_csv:
    escritor_csv = csv.writer(archivo_csv)
    escritor_csv.writerows(datos)

print("Archivo CSV creado y datos escritos exitosamente.")

Archivo CSV creado y datos escritos exitosamente.

In [ ]:
datos

[['Nombre', 'Edad', 'Ciudad'],
 ['Angel', 48, 'Madrid'],
 ['Esther', 30, 'Cádiz'],
 ['Luis', 33, 'Caracas'],
 ['Weixin', 36, 'Madrid']]

In [ ]:
#Abrir y cerrar un archivo CSV sin usar with
archivo_csv = open('datos.csv', 'r')
lector_csv = csv.reader(archivo_csv)
for i in lector_csv:
    print(i)
archivo_csv.close()

['Nombre', 'Edad', 'Ciudad']
['Angel', '48', 'Madrid']
['Esther', '30', 'Cádiz']
['Luis', '33', 'Caracas']
['Weixin', '36', 'Madrid']

In [ ]:

# Leer un archivo CSV
with open('datos.csv', 'r') as archivo_csv:
    lector_csv = csv.reader(archivo_csv)
    for fila in lector_csv:
        print(fila)

['Nombre', 'Edad', 'Ciudad']
['Angel', '48', 'Madrid']
['Esther', '30', 'Cádiz']
['Luis', '33', 'Caracas']
['Weixin', '36', 'Madrid']

In [ ]:
# Ejemplo extra para acceder a los archivos con DictWriter

# Datos como diccionarios
datos = [
    {'Nombre': 'Angel', 'Edad': 48, 'Ciudad': 'Madrid'},
    {'Nombre': 'Esther', 'Edad': 30, 'Ciudad': 'Cádiz'},
    {'Nombre': 'Luis', 'Edad': 35, 'Ciudad': 'Valencia'}
]

# Obtener las cabeceras del diccionario
cabeceras = datos[0].keys()

# Crear y escribir en un archivo CSV usando DictWriter
with open('datos_dict.csv', 'w', newline='') as archivo_csv:
    escritor_csv = csv.DictWriter(archivo_csv, fieldnames=cabeceras)
    escritor_csv.writeheader()
    escritor_csv.writerows(datos)

print("Archivo CSV (usando DictWriter) creado y datos escritos exitosamente.")

Archivo CSV (usando DictWriter) creado y datos escritos exitosamente.

In [ ]:
datos

[{'Nombre': 'Angel', 'Edad': 48, 'Ciudad': 'Madrid'},
 {'Nombre': 'Esther', 'Edad': 30, 'Ciudad': 'Cádiz'},
 {'Nombre': 'Luis', 'Edad': 35, 'Ciudad': 'Valencia'}]

In [ ]:


# Leer un archivo CSV usando DictReader
with open('datos_dict.csv', 'r') as archivo_csv:
    lector_csv = csv.DictReader(archivo_csv)
    for fila in lector_csv:
        print(fila)

{'Nombre': 'Angel', 'Edad': '48', 'Ciudad': 'Madrid'}
{'Nombre': 'Esther', 'Edad': '30', 'Ciudad': 'Cádiz'}
{'Nombre': 'Luis', 'Edad': '35', 'Ciudad': 'Valencia'}

# Crear y escribir archivo de texto

In [ ]:
# Crear y escribir en un archivo de texto
with open('archivo_texto.txt', 'w') as archivo_texto:
    archivo_texto.write("Hola, mundo!\n")
    archivo_texto.write("Este es un archivo de texto.\n")
    archivo_texto.write("Python facilita el manejo de archivos.")

print("Archivo de texto creado y datos escritos exitosamente.")

Archivo de texto creado y datos escritos exitosamente.

In [ ]:
# Leer el archivo de texto
with open('archivo_texto.txt', 'r') as archivo_texto:
    contenido = archivo_texto.read()
    print("Contenido del archivo de texto:")
    print(contenido)

Contenido del archivo de texto:
Hola, mundo!
Este es un archivo de texto.
Python facilita el manejo de archivos.

In [ ]:
# Añadir contenido a un archivo de texto
with open('archivo_texto.txt', 'a') as archivo_texto:
    archivo_texto.write("\nAñadiendo una nueva línea al archivo.")

print("Nuevo contenido añadido al archivo de texto exitosamente.")

Nuevo contenido añadido al archivo de texto exitosamente.

In [ ]:
# Leer el archivo de texto línea por línea
with open('archivo_texto.txt', 'r') as archivo_texto:
    print("Contenido del archivo de texto línea por línea:")
    for linea in archivo_texto:
        print(linea.strip())

Contenido del archivo de texto línea por línea:
Hola, mundo!
Este es un archivo de texto.
Python facilita el manejo de archivos.
Añadiendo una nueva línea al archivo.

In [ ]:
import pandas as pd

In [ ]:
# Importar desde local de colab
df = pd.read_csv('/content/datos.csv')

In [ ]:
df

   Nombre  Edad   Ciudad
0   Angel    48   Madrid
1  Esther    30    Cádiz
2    Luis    33  Caracas
3  Weixin    36   Madrid

In [ ]:
# importar desde url de descarga
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1BA8IP2VsCZAQ2MMxq1twrindVGMU7JHe4Qrdn-8N9Oc/export?format=csv&gid=2056133412")

In [ ]:
df

               Nombre  Edad  Peso  Altura  Genero
0      Roberto Alfaro    19    70    1.78  Hombre
1    Laura Bustamante    19    57    1.60   Mujer
2       Erick Estrada    20    65    1.74  Hombre
3     Maria Domínguez    20    52    1.60   Mujer
4        Jorge  Ortíz    20    60    1.70  Hombre
5        Rosa Jiménez    21    56    1.53   Mujer
6    Adolfo Hernández    22    70    1.73  Hombre
7      Adriana García    23    72    1.71   Mujer
8    Antonio Martínez    21    60    1.66  Hombre
9        Alicia López    19    62    1.65   Mujer
10   Enrique González    23    65    1.68  Hombre
11        Elena Pérez    24    59    1.61   Mujer
12  Enrique Rodríguez    21    67    1.69  Hombre
13       Lily Ramírez    23    55    1.50   Mujer
14        Roxana Cruz    20    50    1.56   Mujer
15     Paulina Flores    21    66    1.78   Mujer
16       Samuel Gómez    21    67    1.71  Hombre
17  Francisco  Huerta    21    71    1.75  Hombre
18    Sergio Trujillo    19    73    1.78  Hombre
19      Sofia Padilla    18    69    1.70   Mujer
20     Tania Alvarado    24    70    1.70   Mujer
21        Uriel Galán    25    76    1.79  Hombre
22        Vanesa Díaz    25    63    1.63   Mujer
23      Violeta Durán    24    49    1.56   Mujer
24    Valentín Acosta    23    80    1.82  Hombre

# Diccionarios

### Crear un diccionario

In [ ]:
# Crear un diccionario vacío
diccionario_vacio = {}
print(diccionario_vacio)

{}

In [ ]:
# Crear un diccinario con elementos
diccionario_con_elementos = {'nombre': 'Juan','edad': 30,'altura': '1.80'}
print(diccionario_con_elementos)

{'nombre': 'Juan', 'edad': 30, 'altura': '1.80'}

### Acceder a valores de un diccionario

In [ ]:
# Acceder a valores en el diccionario
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
nombre = diccionario['nombre']
edad = diccionario['edad']
altura = diccionario['altura']
print(f'Nombre: {nombre}, Edad: {edad}, Altura: {altura}')

Nombre: Juan, Edad: 30, Altura: 1.8

In [ ]:
# Accedo al valor de una clave que no existe (da error)
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
peso= diccionario['peso']
print(f'Peso: {peso}')

KeyError: 'peso'

In [ ]:
# Acceder al valor de una clave que no existe con get()
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
peso = diccionario.get('peso')
print(peso)

None

In [ ]:
# Se proporciona un valor para el método get() para que se devuelva si no se encuentra en el diccionario
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
peso = diccionario.get('peso',75)
print(peso)
print(diccionario)

75
{'nombre': 'Juan', 'edad': 30, 'altura': 1.8}

### Modificar valores en un diccionario

In [ ]:
# Modificar valores en el diccionario
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario['edad'] = 31
print(diccionario)

{'nombre': 'Juan', 'edad': 31, 'altura': 1.8}

### Añadir nuevo par clave-valor

In [ ]:
# Añadir un nuevo par clave-valor
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario['peso'] = 80
print(diccionario)

### Eliminar un par clave-valor

In [ ]:
# Eliminar un par clave-valor
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80, 'peso': 80}
del diccionario['peso']
print(diccionario)

In [ ]:
# Intento de eliminar con del un par cuya clave no existe (da error)
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
del diccionario ['ciudad']
print(diccionario)

In [ ]:
# Eliminar par usando método pop() con elemento que existe
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
altura = diccionario.pop('altura')
print(diccionario)
print(altura)

{'nombre': 'Juan', 'edad': 30}
1.8

In [ ]:
# Eliminar par usando método pop() con elemento que no existe
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
ciudad = diccionario.pop('ciudad', None)
print(diccionario)
print(ciudad)

{'nombre': 'Juan', 'edad': 30, 'altura': 1.8}
None

In [ ]:
# Eliminar el último par del diccionario usando el método popitem()
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario.popitem()
print(diccionario)

### Borrar un diccionario

In [ ]:
# Borrar completamente un diccionario (no se puede imprimir porque el diccionario ya no existe)
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
del diccionario
print(diccionario)

NameError: name 'diccionario' is not defined

In [ ]:
# Borrar todos los elementos del diccionario sin eliminar el diccionario
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario.clear()
print(diccionario)

{}

### Tamaño de un diccionario

In [ ]:
# Tamaño del diccionario (número de pares)
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
num_elementos = len(diccionario)
print(num_elementos)

3

### Comprobar si una clave está en el diccionario

In [ ]:
# Comprobar si una clave está en el diccionario
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
resultado1 = 'nombre' in diccionario
resultado2 = 'ciudad' in diccionario
print(f'Resutado1: {resultado1}, Resultado2: {resultado2}')

### Ver claves / valores / elementos

In [ ]:
# Ver claves / valores / elementos
# se devuelven dict_keys es una vista, que se comporta como un conjunto
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
#ver claves
print(diccionario.keys())
#ver valores
print(diccionario.values())
#ver elementos
print(diccionario.items())

dict_keys(['nombre', 'edad', 'altura'])
dict_values(['Juan', 30, 1.8])
dict_items([('nombre', 'Juan'), ('edad', 30), ('altura', 1.8)])

### Iterar sobre un diccionario (varios casos)

In [ ]:
# Iterar sobre un diccionario: Iterar sobre las claves
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
for clave in diccionario.keys():
  print(clave)

nombre
edad
altura

In [ ]:
# Iterar sobre un diccionario: Iterar sobre los valores
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
for valor in diccionario.values():
  print(valor)

Juan
30
1.8

In [ ]:
# Iterar sobre un diccionario: Iterar sobre pares
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
for clave_valor in diccionario.items():
  print(clave_valor)

('nombre', 'Juan')
('edad', 30)
('altura', 1.8)

In [ ]:
# Iterar sobre un diccionario sin método: (por defecto itera por clave)
diccionario = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
for por_defecto in diccionario:
  print(por_defecto)

nombre
edad
altura

### Listas de claves, valores, elementos en orden de creación

In [ ]:
# Listar en orden de creación (devuelve listas)
diccionario = {'nombre': 'Juan', 'edad':20, 'altura':1.70}
lista_claves = list(diccionario.keys())
lista_valores= list(diccionario.values())
lista_elementos= list(diccionario.items())
print(lista_claves)
print(lista_valores)
print(lista_elementos)
type(lista_elementos)

['nombre', 'edad', 'altura']
['Juan', 20, 1.7]
[('nombre', 'Juan'), ('edad', 20), ('altura', 1.7)]

list

### Listas ordenadas de claves, valores, elementos

In [ ]:
# Listar de forma ordenada (devuelve listas)
# OJO se mezclan tipos de datos, da error
diccionario = {'nombre': 'Juan', 'edad':20, 'altura':1.70}
lista_claves = sorted(diccionario.keys())
lista_valores= sorted(diccionario.values())
lista_elementos= sorted(diccionario.items())
print(lista_claves)
print(lista_valores)
print(lista_elementos)

TypeError: '<' not supported between instances of 'int' and 'str'

### Creación de conjuntos a partir de diccionarios **set()**

In [ ]:
# Creación de conjuntos a partir de diccionarios
diccionario = {'nombre': 'Juan', 'edad':20, 'altura':1.70}
conjunto_claves = set(diccionario.keys())
conjunto_valores= set(diccionario.values())
conjunto_elementos= set(diccionario.items())
print(conjunto_claves)
print(conjunto_valores)
print(conjunto_elementos)
type(conjunto_elementos)

{'nombre', 'edad', 'altura'}
{1.7, 'Juan', 20}
{('edad', 20), ('nombre', 'Juan'), ('altura', 1.7)}

set

### Copiar un diccionario

In [ ]:
# Copiar un diccionario
diccionario_original = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario_copia = diccionario_original.copy()
print(diccionario_copia)

{'nombre': 'Juan', 'edad': 30, 'altura': 1.8}

In [ ]:
# Copiar un diccionario con el constructor dict()
diccionario_original = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario_copia2 = dict(diccionario_original)
print(diccionario_copia2)

{'nombre': 'Juan', 'edad': 30, 'altura': 1.8}

### Combinar diccionarios

In [ ]:
# Combinar diccionarios
diccionario1 = {'nombre': 'Juan', 'edad':30, 'altura':1.80}
diccionario2 = {'edad': 31, 'ciudad': 'Madrid'}
diccionario1.update(diccionario2)
print(diccionario1)

{'nombre': 'Juan', 'edad': 31, 'altura': 1.8, 'ciudad': 'Madrid'}

### Diccionarios anidados

In [ ]:
# Diccionarios anidados: diccionarios cuyos valores son otros diccionarios
empleados = {
    'empleado1':{'nombre':'agapito', 'puesto': 'contable'},
    'empleado2':{'nombre':'susana', 'puesto': 'directora'},
    'empleado3':{'nombre':'leo', 'puesto': 'analista'},
    }
print(empleados)

In [ ]:
# Diccionarios anidados: se agrupan varidos diccionarios creados previamente
casa1 = {'provincia':'madrid', 'metros': 100}
casa2 = {'provincia':'segovia', 'metros': 150}
casa3 = {'provincia':'zamora', 'metros': 200}
propiedades = {'casa1':casa1, 'casa2': casa2, 'casa3':casa3}
print(propiedades)

{'casa1': {'provincia': 'madrid', 'metros': 100}, 'casa2': {'provincia': 'segovia', 'metros': 150}, 'casa3': {'provincia': 'zamora', 'metros': 200}}

# Operaciones Básicas con Sets

### CREACION DE UN CONJUNTO

In [ ]:
# Crear un conjunto
conjunto = {1, 2, 3, 4, 5}
print(conjunto)

{1, 2, 3, 4, 5}

### AÑADIR UN ELEMENTO

In [ ]:
# Añadir elementos a un conjunto .add(x)
conjunto.add(6)
print(conjunto)

{1, 2, 3, 4, 5, 6}

### ELIMINAR UN ELEMENTO

In [ ]:
# Eliminar elementos de un conjunto
conjunto.remove(2)
print(conjunto)

# Eliminar elementos de un conjunto con .discard(x)
conjunto.discard(3)
print(conjunto)

{1, 3, 4, 5, 6}
{1, 4, 5, 6}

###ELIMINAR ELEMENTOS DE UN CONJUNTO

In [ ]:
# Eliminar todos los elementos: set1.clear() vacía el conjunto.
conjunto.clear()
print(conjunto)

set()

### UNIÓN, INTERSECIÓN Y DIFERENCIA DE CONJUNTOS

In [ ]:
# Unión de conjuntos
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
union = conjunto1 | conjunto2
print(f'Unión: {union}')

# Intersección de conjuntos
interseccion = conjunto1 & conjunto2
print(f'Intersección: {interseccion}')

# Diferencia de conjuntos
diferencia = conjunto1 - conjunto2
print(f'Diferencia: {diferencia}')

Unión: {1, 2, 3, 4, 5}
Intersección: {3}
Diferencia: {1, 2}

###EJEMPLO DE PERMANENCIA EN CONJUNTOS

In [ ]:
#Ejemplo de Pertenencia en Conjuntos
# Definimos un conjunto
conjunto1 = set([1,2,3,4,5,6])
# Verificamos si ciertos elementos están en el conjunto
print(5 in conjunto1)
print(6 in conjunto1)
print(7 in conjunto1)

True
True
False

###LONGITUD DE UN CONJUNTO

In [ ]:
#Longitud de un conjunto: len(set1)
#Devuelve el número de elementos en el conjunto.

len(conjunto1)

6

###DIFERENCIA SIMÉTRICA

In [ ]:
# Es una operación de conjuntos que devuelve un nuevo conjunto
# con los elementos que están en uno de los conjuntos o en el otro, pero no en ambos.
# Es decir, la diferencia simétrica entre dos conjuntos A y B contiene los elementos que están en A o en B,
# pero no en la intersección de A y B.
set1 = {1,2,3}
set2 = {3,4,5}

diferencia_simetrica_set = set1 ^ set2
print(diferencia_simetrica_set)

diferenci_symetric = set1.symmetric_difference(set2)
print(diferenci_symetric)

{1, 2, 4, 5}
{1, 2, 4, 5}

# Manejo de Excepciones

## Lectura y escritura de archivos

In [ ]:
try:
    file = open('data.txt', 'r')
    data = file.read()
except FileNotFoundError:
    print("El archivo no existe.")
except IOError:
    print("Error al leer el archivo.")
else:
    print("Lectura exitosa:", data)
finally:
    if 'file' in locals():
        file.close()

El archivo no existe.

## Conexiones de red

In [ ]:
import requests

try:
    response = requests.get('https://api.example.com/data')
    response.raise_for_status()  # Esto lanzará una excepción si la solicitud no tuvo éxito
except requests.RequestException as e:
    print(f"Error de red: {e}")
else:
    print("Datos recibidos:", response.json())
finally:
    print("Intento de conexión finalizado.")

Error de red: HTTPSConnectionPool(host='api.example.com', port=443): Max retries exceeded with url: /data (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x7f726dbcc730>: Failed to resolve 'api.example.com' ([Errno -2] Name or service not known)"))
Intento de conexión finalizado.

##Acceso a base de datos

In [ ]:
import sqlite3

try:
    conn = sqlite3.connect('example.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM users')
    data = cursor.fetchall()
except sqlite3.DatabaseError as e:
    print(f"Error de base de datos: {e}")
else:
    for row in data:
        print(row)
finally:
    if 'conn' in locals():
        conn.close()

Error de base de datos: no such table: users

## Procesamiento de datos

In [ ]:
def process_data(data):
    try:
        result = [int(i) for i in data]
    except ValueError as e:
        print(f"Error de valor: {e}")
    else:
        print("Datos procesados correctamente:", result)
    finally:
        print("Proceso de datos completado.")

data = ["10", "20", "abc", "40"]
process_data(data)

Error de valor: invalid literal for int() with base 10: 'abc'
Proceso de datos completado.

In [ ]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

# Datos de ejemplo
data = [
    ("El cielo es azul", "positivo"),
    ("Me encanta el sol", "positivo"),
    ("La lluvia es molesta", "negativo"),
    ("El tráfico es horrible", "negativo")
]

# Dividir datos en texto y etiquetas
texts, labels = zip(*data)

# Crear un pipeline para la vectorización y clasificación
model = make_pipeline(TfidfVectorizer(), MultinomialNB())

try:
    # Entrenar el modelo
    model.fit(texts, labels)
    print("Modelo entrenado correctamente.")

    # Realizar una predicción
    test_text = input("Introduce un texto para clasificar: ")
    prediction = model.predict([test_text])
    print(f"La predicción es: {prediction[0]}")
except ValueError as ve:
    print(f"Error de valor: {ve}")
except Exception as e:
    print(f"Ocurrió un error inesperado: {e}")
else:
    print("Predicción realizada exitosamente.")
finally:
    print("Proceso de clasificación completado.")

Modelo entrenado correctamente.
Introduce un texto para clasificar: me gusta el helado
La predicción es: positivo
Predicción realizada exitosamente.
Proceso de clasificación completado.

Bibliografía: https://www.w3schools.com/python/python_ml_getting_started.asp